VITE_FIREBASE_API_KEY=AIzaSyAJomxpZNXHjXsvVQVzbOZq0WsqWz0LZJk
VITE_FIREBASE_AUTH_DOMAIN=meilenstein-f8922.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=meilenstein-f8922
VITE_FIREBASE_STORAGE_BUCKET=meilenstein-f8922.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=585755136869
VITE_FIREBASE_APP_ID=1:585755136869:web:7456f2c881e984dab6478c
